name: Docker CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |
          docker compose --file docker-compose.test.yml build
          docker compose --file docker-compose.test.yml run test
